# IMPORTANT: Edits to this file will not be reflected in the Datadog App and will be overwritten with new policy file downloads. Please modify rules in the Datadog App for full functionality.
version: 1.67.0
type: content_pack
macros:
  - id: HTTP_UTILS
    description: Executables commonly used to fetch data over HTTP
    expression: '["wget", "curl", "lwp-download"]'
  - id: WEBAPP_PROCESSES
    description: Processes that commonly run web applications
    expression: '["apache2", "nginx", ~"tomcat*", "httpd"]'
rules:
  - id: hash_newly_downloaded_file
    description: Hash of a newly downloaded file
    expression: open.flags & (O_CREAT|O_TRUNC|O_RDWR|O_WRONLY) > 0 && open.file.change_time < 5s && (process.file.name in HTTP_UTILS || process.ancestors.file.name in WEBAPP_PROCESSES)
    product_tags:
      - policy:hash-newly-modified-file
    actions:
      - hash:
          field: open.file
    disabled: true
    filters:
      - os == "linux"
