---
version: 1.1.0

#################################################################
# Macros are a way to define reusable expressions and/or lists. #
# Macros are used within rules. Macros do not monitor alone.    #
#################################################################
macros:
  - id: DD_AGENT_PROCESSES
    description: Processes that are a part of the Datadog Agent
    expression: >-
      ["/opt/datadog-agent/embedded/bin/agent", "/opt/datadog-agent/embedded/bin/system-probe", "/opt/datadog-agent/embedded/bin/security-agent", "/opt/datadog-agent/embedded/bin/process-agent"]

  - id: CONTAINER_PROCESSES
    description: Processes related to operating containers and kubernetes clusters
    expression: >-
      ["/usr/bin/containerd", "/usr/bin/docker", "/usr/bin/dockerd", "/usr/bin/docker-compose", "/usr/bin/kubelet", "/usr/bin/skydns", "/usr/bin/exechealthz", "/usr/local/bin/weave-net", "/opt/cni/bin/loopback", "/opt/cni/bin/bridge"]

  - id: CREDENTIAL_PROCESSES
    desription: Processes that access credential files as part of normal system activity
    expression: >-
      ["/usr/lib/accountsservice/accounts-daemon", "/usr/bin/login", "/usr/bin/newgrp", "/usr/bin/sg", "/usr/bin/shadowconfig", "/usr/bin/chage", "/usr/bin/chfn", "/usr/bin/chsh", "/usr/sbin/cron", "/usr/bin/expiry", "/usr/bin/gpasswd", "/usr/bin/passwd", "/usr/sbin/chgpasswd", "/usr/sbin/chpasswd", "/usr/sbin/cpgr", "/usr/sbin/cppw", "/usr/sbin/groupadd", "/usr/sbin/groupdel", "/usr/sbin/groupmems", "/usr/sbin/groupmod", "/usr/sbin/grpck", "/usr/sbin/grpconv", "/usr/sbin/grpunconv", "/usr/sbin/newusers", "/usr/sbin/pwck", "/usr/sbin/pwconv", "/usr/sbin/pwunconv", "/usr/bin/sudo", "/usr/sbin/useradd", "/usr/sbin/userdel", "/usr/sbin/usermod", "/usr/sbin/vigr", "/usr/sbin/vipw"]

# Add allow-listed process filenames to this list. Uncomment to use.
# Add to rules in order to apply this allow list.
#  - id: ALLOWED_PROCESSES
#    expression: >-
#      process.filename not in ["/usr/bin/example"]
