name: Release Security Agent Policies

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Compliance Benchmarks ConfigMap
        uses: steebchen/kubectl@v2.1.1
        with:
          command: create configmap datadog-compliance-benchmarks --dry-run=client -o yaml --from-file=./compliance/containers > ./datadog-compliance-benchmarks.yaml

      - name: Create Workload Security Policies ConfigMap
        uses: steebchen/kubectl@v2.1.1
        with:
          command: create configmap datadog-runtime-policies --dry-run=client -o yaml --from-file=./runtime > ./datadog-runtime-policies.yaml

      - name: Extract Tag name
        id: tag_name_extractor
        run: echo "TAG_NAME=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ steps.tag_name_extractor.outputs.TAG_NAME }}
          body: |
            Changes in this Release
            - Updated compliance benchmarks and workload security policies for Datadog Security Agent.
          draft: false
          prerelease: false
          files: |
            datadog-compliance-benchmarks.yaml
            datadog-runtime-policies.yaml
