name: Runtime Policies Checks

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check_policies:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ["datadog/agent-dev:master", "datadog/agent:7"]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Create testdata config
        run: |
          mkdir -p testdata
          touch testdata/datadog.yaml
          touch testdata/security-agent.yaml

      - name: Check the policies - ${{ matrix.image }}
        run: |
          docker run -v ${{ github.workspace }}/runtime:/policies -v ${{ github.workspace }}/testdata:/testconfig ${{ matrix.image }} /opt/datadog-agent/embedded/bin/security-agent runtime check-policies --policies-dir /policies --cfgpath /testconfig
