name: Runtime Policies Checks

on:
  push
  # on:
  #push:
  #  branches: [master]
  #pull_request:
  #  branches: [master]

jobs:
  check_policies:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ["datadog/agent-dev:master", "datadog/agent:7"]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Check the policies - ${{ matrix.image }}
        run: |
          docker run -v ${{ github.workspace }}/runtime:/policies ${{ matrix.image }} /opt/datadog-agent/embedded/bin/security-agent runtime check-policies --policies-dir /policies
