name: Runtime Policies Checks

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check_policies:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - datadog/agent:7.27.0
          - datadog/agent:7.28.1
          - datadog/agent:7.29.1
          - datadog/agent:7.30.1
          - datadog/agent:7.31.1
          - datadog/agent:7.32.4
          - datadog/agent:7.33.2
          - datadog/agent:7.34.0
          - datadog/agent:7.35.2
          - datadog/agent:7.36.1
          - datadog/agent:7
          - datadog/agent-dev:master
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Create testdata config
        run: |
          mkdir -p testconfig
          touch testconfig/datadog.yaml
          touch testconfig/security-agent.yaml

      - name: ${{ matrix.image }} - check policies
        id: checkpolicies
        continue-on-error: true
        run: |
          docker run -v ${{ github.workspace }}/runtime:/policies -v ${{ github.workspace }}/testconfig:/testconfig ${{ matrix.image }} /opt/datadog-agent/embedded/bin/security-agent runtime check-policies --policies-dir /policies --cfgpath /testconfig

      - name: Check failures
        if: steps.checkpolicies.outcome != 'success'
        run: |
          exit 1